<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <h1>Our Students:</h1>
    
    <% students.forEach(function(student){ %>
        <p>
        <li><%= student %></li>
        <form action="/remove/<%= student %>?_method=DELETE", method="POST">
            <input type="submit", value="X">
        </form>

        </p>
    <% }) %>
    <h2>Add a Student:</h2>
    <form action="/create", method="POST">
        <label for="student">Name:</label>
        <input type="text", name="student", id="name" autofocus required>
        <br>
        <br>
        <input type="submit", value="Add student">
    </form>
    <br>
    <br>
    <h2>Delete all Students:</h2>
    <form action="/remove/students?_method=DELETE", method="POST">
        <input type="submit", value="Delete all students">
    </form>

</body>
</html>
